<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <div class="container">
      <div class="message-container">
        <ul><% messagesA.forEach(message => { %>                                      <%# /* iterates over each message object in the messagesA and dispaying each message user, text and date. %>
    
          <div class="message-box">
            <p><%= message.user %></p>    <%# /* This outputs the user property of the message %>
            <p><%= message.text %></p>    <%# /* This outputs the text property of the message %>
            <p><%= message.added %></p>   <%# /* This outputs the date property of the message %>

            <!-- <li> <%= message.text %>, <%= message.user %>, <%= message.added %> </li> -->
          </div>
          
          <% }); %></ul>
    
          <a class="angled-gradient-button" href="/new">Add new message</a>
      </div>
    </div>
  </body>
</html>
